.container {
  width: 74vw;
  margin: 0 auto;
}
.active {
  font-weight: 700 !important;
}
.overlay_popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
@font-face {
  font-family: 'Appetite-New';
  src: local('Appetite-New'), url('../fonts/Appetite_New.otf') format('otf');
}
@font-face {
  font-family: 'MuseoSansCyrl-300';
  src: local('MuseoSansCyrl-300'), url('../fonts/MUSEOSANSCYRL_1.OTF') format('otf');
  font-weight: 300;
}
@font-face {
  font-family: 'MuseoSansCyrl-500';
  src: local('MuseoSansCyrl-500'), url('../fonts/MUSEOSANSCYRL_2.OTF') format('otf');
  font-weight: 500;
}
@font-face {
  font-family: 'MuseoSansCyrl-700';
  src: local('MuseoSansCyrl-700'), url('../fonts/MUSEOSANSCYRL_3.OTF') format('otf');
  font-weight: 700;
}
.header {
  position: relative;
  height: 95vh;
  background-color: bisque;
  background-image: url("../images/wave.png"), url("../images/girl.png"), url(../images/header-bg.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom -8%, right bottom 7%, top left 43%;
  background-size: 100%, 36%, 110%;
  padding-top: 2vh;
}
.header .header__top {
  max-width: 87vw;
  margin: 0 auto 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__top .header__logo {
  max-width: 14vw;
  margin-right: 2.6vw;
}
.header .header__top .header__logo img {
  max-width: 100%;
}
.header .header__top .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.header .header__top .header__wrapper .header__title {
  margin-top: 1.3vw;
  max-width: 8.9vw;
  margin-right: 6vw;
}
.header .header__top .header__wrapper .header__title h1 {
  color: #282828;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.header .header__top .header__wrapper .header_address {
  margin-top: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5vw;
  position: relative;
}
.header .header__top .header__wrapper .header_address address {
  margin-bottom: 0.3vw;
  font-style: normal;
}
.header .header__top .header__wrapper .header_address .map-holder {
  width: 65px;
  height: 65px;
  margin-right: 1vw;
  border-radius: 50%;
  background-image: url("../images/map-holder.png");
  background-position: center;
  background-size: contain;
}
.header .header__top .header__wrapper .header_address .map-link {
  display: inline-block;
  position: relative;
  color: #ff6078;
  font-family: "MuseoSansCyrl-500", sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.header .header__top .header__wrapper .header_address .map-link::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -0.8vw;
  border-bottom: 0.09vw solid #ff6078;
}
.header .header__top .header__wrapper .header_address .map-hover {
  display: none;
  position: absolute;
  bottom: -14vw;
  left: 0;
}
.header .header__top .header__wrapper .header_address .map-link:hover .map-hover {
  display: block;
  position: absolute;
  z-index: 999;
}
.header .header__top .header__wrapper .header__contacts {
  margin-top: 0.8vw;
  margin-right: 5vw;
}
.header .header__top .header__wrapper .header__contacts strong {
  position: relative;
}
.header .header__top .header__wrapper .header__contacts strong::before {
  content: "";
  position: absolute;
  top: 0.35vw;
  left: -0.7vw;
  width: 0.4vw;
  height: 0.4vw;
  -webkit-box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
          box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
  background-color: #27b24b;
  border-radius: 50%;
}
.header .header__top .header__wrapper .header__contacts .header__tel {
  position: relative;
  margin-top: 0.3vw;
  margin-bottom: 0.3vw;
  font-style: normal;
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 0.75;
  letter-spacing: 0.1vw;
}
.header .header__top .header__wrapper .header__contacts .header__tel:before {
  content: "";
  width: 2vw;
  height: 2vw;
  position: absolute;
  background-color: white;
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  top: -1.8vw;
  left: -3.5vw;
  -webkit-box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
          box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
}
.header .header__top .header__wrapper .header__contacts .header__clock {
  position: relative;
}
.header .header__top .header__wrapper .header__contacts .header__clock:before {
  content: "";
  width: 2vw;
  height: 2vw;
  position: absolute;
  background-color: white;
  background-image: url("../images/clock.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  top: -0.5vw;
  left: -3.5vw;
  -webkit-box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
          box-shadow: 0 0 7px rgba(79, 160, 55, 0.61);
}
.header .header__top .header__wrapper .header__btn {
  margin-top: 1.3vw;
  position: relative;
  background-color: #fefcfb;
  border: none;
  padding: 1vw 1.3vw 1vw 3.5vw;
  border-radius: 2vw;
  font-size: 1vw;
  font-weight: 400;
  line-height: 2vw;
  letter-spacing: 0.05vw;
  font-family: 'MuseoSansCyrl-500', sans-serif;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
  outline: none;
}
.header .header__top .header__wrapper .header__btn::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../images/btn-calendar.png");
  top: 19px;
  left: 26px;
}
.header .header__nav .nav {
  max-width: 85vw;
  margin: 0 auto 3vw;
  padding: 1.25vw 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0.5vw;
  background-color: #ffffff;
}
.header .header__nav .nav a {
  text-decoration: none;
  color: #282828;
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-size: 1vw;
  font-weight: 400;
}
.header .header__nav .nav a:not(:last-child) {
  margin-right: 1vw;
}
.header .header__content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.header .header__content .container .header__text {
  position: relative;
  max-width: 50%;
  pointer-events: none;
}
.header .header__content .container .header__text::before {
  position: absolute;
  content: "";
  background-image: url("../images/inform-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3vw;
  height: 3vw;
  bottom: 32px;
  right: -91px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}
.header .header__content .container .header__text::after {
  position: absolute;
  content: "";
  width: 13vw;
  height: 13vw;
  background-image: url(../images/card.png);
  background-repeat: no-repeat;
  bottom: 2vw;
  right: -8vw;
  background-size: 100%;
  z-index: 3;
}
.header .header__content .container .header__text p {
  margin: 0 0 1vw 0;
  color: #282828;
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 1.15;
}
.header .header__content .container .header__text .header__list {
  margin: 0 0 1.5vw 0;
}
.header .header__content .container .header__text .header__list li {
  position: relative;
  list-style-type: none;
}
.header .header__content .container .header__text .header__list li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -21px;
  width: 0.4vw;
  height: 0.4vw;
  background-color: #ef9499;
  border-radius: 50%;
  border: 0.2vw solid white;
}
.header .header__content .container .header__text .header__list li:not(:last-child) {
  margin-bottom: 1.1vw;
}
.header .header__content .container .header__text button {
  position: relative;
  text-shadow: 0 1px 5px rgba(210, 110, 116, 0.49);
  color: #ffffff;
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-size: 0.8vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  border: none;
  border-radius: 5vw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(241, 153, 157, 0.47)), color-stop(98%, rgba(252, 182, 182, 0.99)), to(#fcb6b6));
  background-image: linear-gradient(to top, rgba(241, 153, 157, 0.47) 0%, rgba(252, 182, 182, 0.99) 98%, #fcb6b6 100%);
  padding: 1.5vw 7vw 1.5vw 2vw;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px 1px #c86078;
          box-shadow: 0 2px 1px 1px #c86078;
}
.header .header__content .container .header__text button::after {
  position: absolute;
  content: "";
  max-width: 90%;
  width: 100%;
  height: 100%;
  background-image: url("../images/branch.png");
  background-repeat: no-repeat;
  background-size: 85%;
  bottom: -5px;
  left: 12vw;
}
.header .header__content .container .header__info-block {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 11vw;
  width: 10vw;
  position: absolute;
  bottom: 4vw;
  right: -16vw;
  border-radius: 1vw;
  padding: 1vw;
  background-color: white;
  z-index: 5;
  color: #282828;
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.68px;
  line-height: 2vw;
  text-align: center;
}
.header .header__scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.header .header__scroll:hover::before,
.header .header__scroll:hover::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s linear infinite;
          animation: pulse 1.5s linear infinite;
}
.header .header__scroll:hover::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.popup {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 105px;
  max-width: 35vw;
  max-height: 35vw;
  background-color: rgba(200, 96, 120, 0.5);
  border-radius: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../pop-up/popup-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1000;
}
.popup .close {
  position: relative;
  cursor: pointer;
}
.popup .close:before {
  top: -2vw;
  right: -4vw;
  position: absolute;
  content: "";
  width: 10px;
  border: 1px solid #8a97a1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup .close:after {
  top: -2vw;
  right: -4vw;
  position: absolute;
  content: "";
  width: 10px;
  border: 1px solid #8a97a1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
h2 {
  margin: 0 0 23px 0;
  color: #282828;
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 36px;
  font-weight: 400;
}
p {
  margin: 0 0 37px 0;
  max-width: 526px;
  color: #282828;
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
}
.popup__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}
.popup__form:before {
  content: "";
  position: absolute;
  width: 263px;
  height: 386px;
  background-image: url("../pop-up/note.png");
  background-repeat: no-repeat;
  top: 46%;
  left: -48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}
.popup__form input,
.popup__form select,
.popup__form button {
  padding: 30px 46px;
  border-radius: 40px;
  border: 1px solid #fbeeef;
  background-color: #ffffff;
  margin-bottom: 16px;
  outline: none;
  font-family: "300", sans-serif;
}
.popup__form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.popup__form button {
  position: relative;
  border-radius: 35px;
  border-bottom: 2px solid rgba(200, 96, 120, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(241, 153, 157, 0.47)), color-stop(98%, rgba(252, 182, 182, 0.99)), to(#fcb6b6));
  background-image: linear-gradient(to top, rgba(241, 153, 157, 0.47) 0%, rgba(252, 182, 182, 0.99) 98%, #fcb6b6 100%);
  color: #ffffff;
  font-family: "MuseoSansCyrl-700", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.68px;
}
.popup__form button:after {
  position: absolute;
  content: "";
  width: 143px;
  height: 52px;
  background-image: url("../pop-up/plant.png");
  bottom: 14px;
  right: -20px;
}
/*# sourceMappingURL=main.css.map */